@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
html {
  height: 100%;
}
  body {
    padding: 0;
    margin: 0;
 
  }

* {
  padding: 0;
  margin: 0;
    font-family: "Asap";
    box-sizing: border-box;

}
.gradient {
  background-image: -webkit-linear-gradient(270deg, #3558D4, #06AA96);
  background-image: -moz-linear-gradient(270deg, #3558D4, #06AA96);
  background-image: -o-linear-gradient(270deg, #3558D4, #06AA96);
  background-image: -ms-linear-gradient(270deg, #3558D4, #06AA96);
  background-image: linear-gradient(180deg, #3558D4, #06AA96);
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#currentVal {
  color: #424242;
  font-size: 14px;
  font-weight: 800;
  padding-left: 240px;
}
#currentVal span {
  color: #ccc;
}
#range {
  width: 180px;
  border: 0;
  height: 4px;
  background: #424242;
  outline: none;
  position: absolute;
  left: 30px;
  top: 32px;
}
#range .ui-slider-handle {
  position: absolute;
  margin: 0px 0 0 -7px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  border: 0;
  height: 14px;
  width: 14px;
  outline: none;
  cursor: pointer;
}
#range .ui-slider-handle:hover,
#range .ui-slider-handle:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#range .ui-slider-range {
  background: #3558D4;
}

.navbar { 
  .section {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
  }
  .logo {
    font-size: 1.4em;
    font-weight: bold;
    span {
      color: #00002C;
    }
  }
 nav ul {
  list-style-type: none;
  display: flex;

   li {
     padding-left: 1.1em;
    cursor:pointer;
     padding-right: 1.1em;
     &:hover {
       font-weight: bold;
       
     }
   }
}
  
}

.hero {

 
  .type {
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
    span {
      color: #00002C;
    }
  }

  .cta {
    color: white;
    background-color: #00002C;
    width: fit-content;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    border-radius: 5em;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

  }

  

}






.footer {
  .imge {
    width: 18em;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 3rem;
.socials {
  display: flex;
  padding: 1em;
  justify-content: center;
  padding-top: 6em;
  
  img {
    padding-left: 1em;
    padding-left: 1em;  
  }
}
p {
  text-align: center;
  color: white;
  font-weight: bold;
}
}

@media only screen and (max-width: 768px) and (min-height: 564px) {
  .footer {
    .imge {
      display: none;
    }
  }
  .hero {
    .type {
      font-size: 2rem;
    }
    .cta {
      font-size: 1rem;
    }
  }
  .socials {
    padding-top: 9em;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    .imge {
      display: none;
    }
  }
  .hero {
    .type {
      font-size: 2rem;
    }
    .cta {
      font-size: 1rem;
    }
  }


}

@media only screen  and (max-height: 563px){

    * {
      padding: 0;
    }
    .gradient {
      height: fit-content;
    }
      .hero {
        .socials {
          padding-top: 0em;
          size: 0.6em;
        }
      }
 
    
}


    /* EOS */