@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap");
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Asap";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3558D4), to(#06AA96));
  background-image: linear-gradient(180deg, #3558D4, #06AA96);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#currentVal {
  color: #424242;
  font-size: 14px;
  font-weight: 800;
  padding-left: 240px;
}

#currentVal span {
  color: #ccc;
}

#range {
  width: 180px;
  border: 0;
  height: 4px;
  background: #424242;
  outline: none;
  position: absolute;
  left: 30px;
  top: 32px;
}

#range .ui-slider-handle {
  position: absolute;
  margin: 0px 0 0 -7px;
  border-radius: 100%;
  background: #fff;
  border: 0;
  height: 14px;
  width: 14px;
  outline: none;
  cursor: pointer;
}

#range .ui-slider-handle:hover,
#range .ui-slider-handle:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#range .ui-slider-range {
  background: #3558D4;
}

.navbar .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  font-size: 1.4em;
  font-weight: bold;
}

.navbar .logo span {
  color: #00002C;
}

.navbar nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav ul a {
  text-decoration: none;
  color: #000;
}

.navbar nav ul li {
  padding-left: 1.1em;
  cursor: pointer;
  padding-right: 1.1em;
}

.navbar nav ul li:hover {
  font-weight: bold;
}

.hero .type {
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
}

.hero .type span {
  color: #00002C;
}

.hero .cta {
  color: white;
  background-color: #00002C;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  border-radius: 5em;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 3rem;
}

.footer .imge {
  width: 18em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6em;
}

.footer .socials img {
  padding-left: 1em;
  padding-left: 1em;
}

.footer p {
  text-align: center;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 768px) and (min-height: 564px) {
  .footer .imge {
    display: none;
  }
  .hero .type {
    font-size: 2rem;
  }
  .hero .cta {
    font-size: 1rem;
  }
  .socials {
    padding-top: 9em;
  }
}

@media only screen and (max-width: 768px) {
  .footer .imge {
    display: none;
  }
  .hero .type {
    font-size: 2rem;
  }
  .hero .cta {
    font-size: 1rem;
  }
}

@media only screen and (max-height: 563px) {
  * {
    padding: 0;
  }
  .gradient {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero .socials {
    padding-top: 0em;
    size: 0.6em;
  }
}

/* EOS */
/*# sourceMappingURL=style.css.map */