@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;

}

* {
  padding: 0;
  margin: 0;
  font-family: "Asap";
  box-sizing: border-box;

}


.gradient {
  background-image: -webkit-linear-gradient(270deg, #D4B135, #AA061A);
  background-image: -moz-linear-gradient(270deg, #D4B135, #AA061A);
  background-image: -o-linear-gradient(270deg, #D4B135, #AA061A);
  background-image: -ms-linear-gradient(270deg, #D4B135, #AA061A);
  background-image: linear-gradient(180deg, #D4B135, #AA061A);
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#currentVal {
  color: #424242;
  font-size: 14px;
  font-weight: 800;
  padding-left: 240px;
}

#currentVal span {
  color: #ccc;
}

#range {
  width: 180px;
  border: 0;
  height: 4px;
  background: #424242;
  outline: none;
  position: absolute;
  left: 30px;
  top: 32px;
}

#range .ui-slider-handle {
  position: absolute;
  margin: 0px 0 0 -7px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  border: 0;
  height: 14px;
  width: 14px;
  outline: none;
  cursor: pointer;
}

#range .ui-slider-handle:hover,
#range .ui-slider-handle:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#range .ui-slider-range {
  background: #3558D4;
}

.contact {

  background: #fff;
  width: fit-content;
  padding: 3em;
  display: flex;

  border-radius: 2em;
  margin: auto auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

  .form {

    button {

      background-image: linear-gradient(to right, #AA061A 0%, #D4B135 51%, #AA061A 100%);
      border: none;
      margin: 0.4em;
      padding: 15px 40px;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      font-size: 1em;
      font-weight: bold;
      border-radius: 10px;
      display: block;


      &:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }

    }

    .inputs {



      border: 2px #000 solid;
      border-radius: 6px;
      width: 15em;
      margin: 0.4em;
      padding: 0.4em;


    }



    textarea {
      height: 7em;
    }
  }

  .right {
    .email {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-right: 1em;
      }

      p {
        font-weight: bold;
        font-size: 1.7em;
      }
    }

    .socials {

      display: flex;
      justify-content: center;

      img {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }

    h1 {
      display: flex;
      justify-content: center;
      padding: 1em;
      font-size: 1.5em;

    }

    .nav {
      margin: 2em;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
font-weight: bold;
font-size: 1.2em;
        color: #000;
&:hover {
  text-decoration: underline;
}
      }
    }

  }

}